# Model Exception
*.model
models/
logs/
weights/

# Test Exceptions
*.log

# Dataset Exceptions
datasets/
logs/
*.engine
trt/data/labels.txt
trt/data/color_code.npy


# Python
__pycache__/

# VSCode
.vscode
